* {
	padding: 0;
	margin: 0;
	line-height: 1.2em;
	box-sizing: border-box;
}

html {
	font-family: sans-serif;
}

body {
	max-width: 1440px;
	padding: 20px;
	margin: 0 auto;
}

.content {
	margin-top: 20px;
	font-size: 24px;
	display: grid;
	justify-content: center;
	gap: 10px;
	> * {
		text-align: center;
	}
	.roll {
		font-size: 5em;
	}
}

button {
	font-size: 1em;
	max-width: 200px;
	padding: 15px 30px;
	margin: 0 auto;
	background-color: #5ca3e6;
	color: white;
	border: none;
	border-radius: 15px;
}

button:hover {
	background-color: #4c7dd8;
	cursor: pointer;
}
