* {
	padding: 0;
	margin: 0;
	line-height: 1.2em;
	box-sizing: border-box;
}

html {
	height: 100%;
	font-family: sans-serif;
	background-color: #f6f6f6;
}

body {
	height: 100%;
	max-width: 1000px;
	margin: 0 auto;
}

form {
	background-color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 15px;
	max-width: 650px;
	margin: 50px auto;
	border-radius: 10px;
	box-shadow: 0 0 20px lightgray;
	padding: 50px;
}

label {
	font-weight: bold;
}

input {
	width: 300px;
	padding: 5px 10px;
	border: 1px solid gray;
	border-radius: 5px;
}

button {
	max-width: 200px;
	padding: 8px 20px;
	border: none;
	border-radius: 5px;
	color: white;
	background-color: #4a8dd8;
}

button:hover {
	cursor: pointer;
}
