* {
	padding: 0;
	margin: 0;
	line-height: 1.4em;
	box-sizing: border-box;
}

html {
	height: 100%;
}

body {
	max-width: 1440px;
	height: 100%;
	margin: 0 auto;
}

#content {
	> div {
		padding: 20px;
		max-width: 600px;
		margin: 0 auto;
		border: 1px solid black;
		text-align: center;
	}
}
