* {
	padding: 0;
	margin: 0;
	line-height: 1.4em;
	box-sizing: border-box;
}

html {
	font-size: 1.2em;
	font-family: sans-serif;
	height: 100%;
}

body {
	max-width: 1440px;
	height: 100%;
	margin: 0 auto;
}

#content {
	> div {
		padding: 20px;
		max-width: 600px;
		margin: 50px auto;
		border: 1px solid black;
		text-align: center;
	}
	h1,
	p {
		color: #2c2c2c;
	}
	p {
		font-size: 4em;
		margin: 45px auto;
	}
	button {
		font-size: 1em;
		margin: 7px;
		padding: 10px 20px;
		border: none;
		border-radius: 5px;
		color: white;
	}
	button:hover {
		cursor: pointer;
		opacity: 0.8;
	}
	#start {
		background-color: #37b046;
	}
	#pause {
		background-color: #b03737;
	}
	#reset {
		background-color: #9b9b9b;
	}
}
