* {
	padding: 0;
	margin: 0;
	line-height: 1.2em;
	box-sizing: border-box;
}

html {
	font-family: sans-serif;
}

body {
	height: 100%;
}

#slider {
	display: grid;
	height: 400px;
	width: 600px;
	margin: 50px auto;
	gap: 0;
}

.card {
	padding: 50px;
	padding-top: 100px;
	background: #784be9;
	color: white;
	border-radius: 15px;
}

.name {
	margin-top: 20px;
	font-size: 12px;
}

img {
	height: 150px;
	width: 150px;
	object-fit: cover;
	border-radius: 100%;
	margin: 0 auto;
	transform: translateY(80px);
}
