* {
	padding: 0;
	margin: 0;
	line-height: 1.2em;
	box-sizing: border-box;
}

html {
	font-family: sans-serif;
}

body {
	max-width: 1440px;
	margin: 0 auto;
}

.content {
	width: 100%;
}

h1 {
	font-size: 45px;
	width: 100%;
	text-align: center;
	padding: 50px;
	background-color: blue;
	color: white;
	margin-bottom: 20px;
}

.float {
	color: white;
	position: absolute;
	top: 20px;
	left: 20px;
}
