:root {
	--peachy: #fff5f5;
	--hotpink: #e55eac;
	--bluegrey: #dee7e8;
}
* {
	padding: 0;
	margin: 0;
	line-height: 1.4em;
	box-sizing: border-box;
}

html {
	font-family: sans-serif;
	background-color: #ffcae9;
}

body {
	max-width: 1440px;
	margin: 0 auto;
	padding: 10px;
}

#content {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

img {
	max-width: 400px;
	aspect-ratio: 1/1.2;
	object-fit: contain;
	margin: 50px auto;
}

.rightContainer {
	max-width: 550px;
	margin: 50px auto;
	background-color: var(--peachy);
}

.btnContainer {
	width: 100%;
	display: flex;
}

button {
	flex: 1;
	padding: 20px 30px;
	border: none;
	background-color: var(--bluegrey);
	outline: none;
	font-size: 1.1em;
	letter-spacing: 0.13em;
}

button:hover {
	background-color: var(--hotpink);
	cursor: pointer;
}

.current {
	background-color: var(--peachy);
}

.current:hover {
	background-color: inherit;
}

.rightLower {
	padding: 30px;
	padding-top: 60px;
	font-size: 0.9em;
	color: #3e3e3e;
}

.description {
	margin-top: 15px;
}
